@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  --bg-img: url(./images/bg-mobile-light.jpg);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body[data-theme="light"] {
  --bg-img: url(./images/bg-mobile-light.jpg);
}

body[data-theme="dark"] {
  --bg-img: url(./images/bg-mobile-dark.jpg);
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: 100% 200px;
}

.App {
  max-width: 327px;
  margin: auto;
  margin-top: 48px;
}

.header {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 100%;
  font-size: 13px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 15px;
}

.theme-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.theme-icon img {
  width: 100%;
}

@media (min-width: 375px) {
  body[data-theme="light"] {
    --bg-img: url(./images/bg-desktop-light.jpg);
  }

  body[data-theme="dark"] {
    --bg-img: url(./images/bg-desktop-dark.jpg);
  }

  body {
    background-size: 100% 300px;
  }
  .App {
    max-width: 541px;
  }

  .header {
    font-size: 22px;
    height: 48px;
  }

  .theme-icon {
    width: 26px;
    height: 26px;
  }
}
