@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import url("./css/Header.css");
@import url("./css/AddTaskForm.css");
@import url("./css/TaskList.css");

:root {
  --bg-img: url(./images/bg-mobile-dark.jpg);
  --form-bg: #25273d;
  --input-text-color: #767992;
  --input-focus-color: #c8cbe7;
  --body-bg-color: hsl(237deg 20% 10%);
  --task-border: #393a4b;
  --task-color: #c8cbe7;
  --task-list-hover: #e3e4f1;
  --form-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  --checkbox-border: #393a4b;
  --text-cross: #4d5067;
  --filter-color: #5b5e7e;
  --filter-hover: #e3e4f1;
  --footer-color: #5b5e7e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body[data-theme="light"] {
  --bg-img: url(./images/bg-mobile-light.jpg);
  --form-bg: #ffffff;
  --input-text-color: #9495a5;
  --input-focus-color: #393a4b;
  --body-bg-color: #f2f2f2;
  --task-border: #e3e4f1;
  --task-color: #494c6b;
  --task-list-hover: #494c6b;
  --form-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  --checkbox-border: #9495a5;
  --text-cross: #d1d2da;
  --filter-color: #9495a5;
  --filter-hover: #494c6b;
  --footer-color: #9495a5;
}

body[data-theme="dark"] {
  --bg-img: url(./images/bg-mobile-dark.jpg);
  --form-bg: #25273d;
  --input-text-color: #767992;
  --input-focus-color: #c8cbe7;
  --body-bg-color: hsl(237deg 20% 10%);
  --task-border: #393a4b;
  --task-color: #c8cbe7;
  --task-list-hover: #e3e4f1;
  --form-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  --checkbox-border: #393a4b;
  --text-cross: #4d5067;
  --filter-color: #5b5e7e;
  --filter-hover: #e3e4f1;
  --footer-color: #5b5e7e;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: 100% 200px;
  background-color: var(--body-bg-color);
}

.check-mark[data-mark="mark-true"] {
  background-image: url("./images/icon-check.svg");
}
.check-mark[data-mark="mark-false"] {
  background-image: unset;
}

.App {
  max-width: 327px;
  margin: auto;
  margin-top: 48px;
}

@media (min-width: 576px) {
  body[data-theme="light"] {
    --bg-img: url(./images/bg-desktop-light.jpg);
  }

  body[data-theme="dark"] {
    --bg-img: url(./images/bg-desktop-dark.jpg);
  }

  body {
    background-size: 100% 300px;
  }
  .App {
    max-width: 541px;
    margin-top: 70px;
  }
}
